    @-moz-viewport {
    width: device-width;
    scale: 1;
}
@-ms-viewport {
    width: device-width;
    scale: 1;
}
@-o-viewport {
    width: device-width;
    scale: 1;
}
@-webkit-viewport {
    width: device-width;
    scale: 1;
}
@viewport {
    width: device-width;
    scale: 1;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 100%/1.5 sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

#navWrap {
    height: 30px;
}

#nav {
padding: 5px;
position: fixed;
top: 0px;
left: 137px;
width: 100%;
z-index: 10000;
background-color: #f7b3bf;
}

#nav ul {
margin: 0;
padding: 0;
}
#nav li {
    float: left;
    padding: 3px 8px;
    margin: 0 10px 0 0;
    list-style-type: none;
}
#nav li a {
text-decoration: none;
}
#nav li a:hover {
  text-decoration: none;
}

.logo {
    float:left;
    position: fixed;
    z-index: 80000;
    margin:0;
    padding: 0;
}

.nav-stlye {
    background-color: #f7b3bf;
    position: absolute;

}


/* taken from previous - will be edited */
a:link,
a:active {
    outline: none;
}

a:focus {
    outline: 3px solid #000;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}






.billboard {
    overflow: hidden;
    background-image: url(../images/manzinita.jpg);
    background-color: #a4a9ac;
    background-repeat: no-repeat;
    height:100%;

}

.billboard-text {
    margin:20px 10px 200px;
}

.how-colour {
    color: white;
    background-color: #ccb6db;
    text-align: center;
}


.logo {
        width: 90px;
    }

.twitter {
    width: 4em;

}

.twitter-words {
    text-decoration: none;
}



@media only screen and (min-width: 5em) {

    .hide {
        visibility: hidden;
    }
}

@media only screen and (min-width: 25em) {

   .hide {
        visibility: visible;
    }

}

@media only screen and (min-width: 38em) {


}

@media only screen and (min-width: 60em) {
        .twitter {
            width: 3em;
}

}

@media only screen and (min-width: 60em) {
    html {
        font-size: 110%;
    }
}


@media only screen and (min-width: 90em) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    html {
        font-size: 130%;
    }

}

/* Previously Used code - Reference

.here {
    position: relative;

}

.here-image {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;

}

.here-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 900;


}

.banner-text {
    top:50%;
    left: 50%;
    translate: transform (-50%, -50%);
    z-index: 5;
}
